body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}
.card {
    display: grid;
    place-items: center;
    text-align: center;
    width: 40j0px;
    box-shadow: 1px 1px 15px 0px black;
    padding: 20px 70px;
    border-radius: 20px;
    background-color: white;
}

h1{
    font-size: 40px;
}

p {
    font-size:20px;
}

span {
    margin-bottom: 20px;
}

button {
    margin: 10px 30px;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    border: 0px;
}

.button1 {
    background-color: black;
    transition: 0.3s ease;
}

.button1:hover {
    background-color: grey;
    transition: 0.3s ease;
}

.button2 {
    background-color: rgb(0, 102, 255);
    transition: 0.3s ease;
}

.button2:hover {
    background-color: blue;
    transition: 0.3s ease;
}